@CHARSET "ISO-8859-1";

.item-container
{
	padding: 7px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.image-container
{
	width: 100%;
	margin-bottom: 14px!important;
}

.text-container
{
	width: 100%;
	margin-bottom: 6px!important;
}

.link-container
{
	width: 100%;
	margin-bottom: 0px!important;
}

.brand-container
{
	width: 100%;
	margin-bottom: 6px!important;
}